html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

:root{
    --border_radious_task: 10px;
    --color_primary: rgb(255, 200, 87);
    --color_secundary: rgb(37, 95, 133);
    --color_bg_task: rgb(72, 29, 36);
    --font_primary: 'Open Sans', sans-serif;
    --font_secundary: 'PT Serif', serif;
}

body {
    font-family: var(--font_primary);
    margin: 0 auto;
    max-width: 1200px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font_secundary);
}

.mainHeader {
    background-color: var(--color_secundary);
    color: var(--color_primary);
    height: 100px;
    line-height: 50px;
    margin: 0 0 20px 0;
    width: 100%;
}

.mainHeader h1 {
    line-height: 90px;
    margin: 0;
    padding-left: 25px;
}

.wrapForm {
    background-color: var(--color_bg_task);
    border-radius: var(--border_radious_task);
    color: var(--color_primary);
    width: 100%;
}

.taskForm {
    padding: 10px;
    text-align: center;
}

.taskForm input, textarea {
    border-radius: var(--border_radious_task);
    padding: 0 5px;
    outline: none;
    width: 99%;
}

.taskForm textarea {
    resize: none;
}

.taskForm .taskSubmit {
    width: 25%;
}

.taskContainer {
    width: 100%;
}

.taskList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    width: 95%;
}

.taskList li {
    font-family: var(--font_secundary);
    font-size: 24px;
    font-weight: 400;
    list-style: none;
}

.taskWrap {
    background-color: var(--color_bg_task);
    border-radius: var(--border_radious_task);
    color: var(--color_primary);
    margin: 10px 0;
    text-align: center;
    padding-bottom: 10px;
}

/*Estilos para los botones de enviar y eliminar*/

.taskSubmit, .btnDeleteTask {
    background: #255f85;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    outline: none;
    padding: 5px 10px;
    text-align: center;
}
